@import 'https://fonts.googleapis.com/css?family=Baloo+Bhaina';
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body {
  background: #5EB014;
  font-family: 'Baloo Bhaina', sans-serif;
  /* letter-spacing: 0.1em; */
}
h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
  color: #CBF72D;
  letter-spacing: 0.2em;
}
.guitar-neck {
  position: relative;
  margin-top: 30px;
  left: 50%;
  margin-left: -450px;
  width: 960px;
  height: 335px;
  background: rgba(230, 193, 74, 0.93);
  box-shadow: inset -1px 0px 11px 0px rgba(0, 0, 0, 0.4);
}
.guitar-neck .open-notes {
  position: absolute;
  top: 3px;
  left: -35px;
}
.guitar-neck .open-notes li {
  margin-bottom: 24px;
  font-size: 18px;
  color: #373a2e;
}
.guitar-neck .open-notes li.active {
  color: #fa990f;
}
.guitar-neck .fret {
  float: left;
  width: 3px;
  height: 335px;
  background: #d7d6d6;
  margin-left: 75px;
  border-right: 2px solid #686868;
}
.guitar-neck .fret.first {
  position: absolute;
  width: 50px;
  left: -52px;
  top: 0;
  margin-left: 0;
  background: #F2F7B8;
}
.guitar-neck .dots {
  position: absolute;
  width: 642px;
  height: 20px;
  top: 46%;
  left: 19.5%;
}
.guitar-neck .dots li {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #989794;
  margin-right: 140px;
}
.guitar-neck .top-inlay li {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #989794;
  left: 910px;
  top: 95px;
}
.guitar-neck .bottom-inlay li {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #989794;
  left: 910px;
  top: 215px;
}
.guitar-neck .strings {
  position: absolute;
  left: 0;
  top: 15px;
  width: 960px;
  height: 250px;
}
.guitar-neck .strings li {
  height: 1px;
  display: inline-block;
  width: 100%;
  background: #c8bb93;
  margin-bottom: 40px;
  border-bottom: 2px solid #958963;
  box-sizing: border-box;
}
.guitar-neck .strings li:nth-child(2) {
  height: 2px;
}
.guitar-neck .strings li:nth-child(3) {
  height: 3px;
}
.guitar-neck .strings li:nth-child(4) {
  height: 4px;
}
.guitar-neck .strings li:nth-child(5) {
  height: 5px;
}
.guitar-neck .strings li:nth-child(6) {
  height: 6px;
}
.guitar-neck .notes {
  position: absolute;
  left: 60px;
  top: 50px;
  width: 960px;
  height: 258px;
}
.guitar-neck .notes .string {
  position: absolute;
  right: -189px;
  bottom: -25px;
  width: 1184px;
  height: 30px;
}
.guitar-neck .notes .string ul {
  position: relative;
  float: left;
}
.guitar-neck .notes .string ul li {
  float: left;
  width: 30px;
  margin-right: 50px;
  background: #fa990f;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.guitar-neck .notes .string.a {
  bottom: 37px;
}
.guitar-neck .notes .string.d {
  bottom: 100px;
}
.guitar-neck .notes .string.g {
  bottom: 160px;
}
.guitar-neck .notes .string.b {
  bottom: 220px;
}
.guitar-neck .notes .string.high-e {
  bottom: 275px;
}
.chord-note {
  border-radius: 0 !important;
  outline-style: dashed;
}
.control-selected {
  outline-style: dashed;
}
.controls {
  position: relative;
  margin-top: 40px;
  left: 50%;
  margin-left: -420px;
  width: 850px;
  height: 300px;
  text-align: center;
  color: #CBF72D;
}
.controls a {
  text-decoration: none;
}
.controls h2 {
  text-transform: uppercase;
  margin: 40px 0 0 0;
}
.controls ul li {
  float: left;
  width: 40px;
  height: 20px;
  background: #333;
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
}
.controls ul li:last-child {
  margin-right: 0;
}
.options {
  display: inline-block;
  margin: 10px 10px;
  cursor: pointer;
}
.root {
  width: 28px;
  height: 28px;
  background: black;
  border: 1px solid #CBF72D;
  color: #fff;
}
.chord-type {
  width: 80px;
  height: 28px;
  background: #7dbf31;
  border: 1px solid #CBF72D;
  color: #fff;
}
.input-tuning {
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  border-radius: 3px;
  color: #CBF72D;
  text-overflow: clip;
  background: #5EB014;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66);
  font-size: larger;
}
::-webkit-input-placeholder { /* Chrome */
  color: #CBF72D;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #CBF72D;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #CBF72D;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #CBF72D;
  opacity: 1;
}
