<div class="guitar-neck">
  <div class="fret first"></div>
  <div class="fret"></div>
  <div class="fret"></div>
  <div class="fret"></div>
  <div class="fret"></div>
  <div class="fret"></div>
  <div class="fret"></div>
  <div class="fret"></div>
  <div class="fret"></div>
  <div class="fret"></div>
  <div class="fret"></div>
  <div class="fret"></div>
  <div class="fret"></div>
  <ul class="top-inlay">
    <li></li>
  </ul>
  <ul class="dots">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <ul class="bottom-inlay">
    <li></li>
  </ul>
  <ul class="strings">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <ul class="open-notes">
    <li ng-repeat="note in openNotes | reverse track by $index">{{note}}</li>
  </ul>
  <div class="notes">
    <div class="string low-e">
      <ul>
        <li ng-repeat="note in firstString track by $index" ng-style="{background: colorMe(note, intervals)}">{{note}}</li>
      </ul>
    </div>
    <div class="string a">
      <ul>
        <li ng-repeat="note in secondString track by $index" ng-style="{background: colorMe(note, intervals)}">{{note}}</li>
      </ul>
    </div>
    <div class="string d">
      <ul>
        <li ng-repeat="note in thirdString track by $index" ng-style="{background: colorMe(note, intervals)}">{{note}}</li>
      </ul>
    </div>
    <div class="string g">
      <ul>
        <li ng-repeat="note in fourthString track by $index" ng-style="{background: colorMe(note, intervals)}">{{note}}</li>
      </ul>
    </div>
    <div class="string b">
      <ul>
        <li ng-repeat="note in fifthString track by $index" ng-style="{background: colorMe(note, intervals)}">{{note}}</li>
      </ul>
    </div>
    <div class="string high-e">
      <ul>
        <li ng-repeat="note in sixthString track by $index" ng-style="{background: colorMe(note, intervals)}">{{note}}</li>
      </ul>
    </div>
  </div>
</div>

<div class="controls">
  <a class="up" href="#">Tune 1/2 Step Up</a>
  <a class="down" href="#">Tune 1/2 Step Down</a>
  <h2>Tune the geetah:</h2>
  <form ng-submit="tuneItUp()">
    <input type="text" name="tuningForm" ng-model="tuningForm" ng-click="tuningForm = null">
    <input type="submit" value="Tune It!">
  </form>
</div>
